<script lang="ts">
	import { alert, post } from "~/libgalaxy";

	let oldPW = "";
	let newPW = "";
	let doublePW = "";
	async function updatePassword() {
		if (newPW !== doublePW)
			return alert.error("The new passwords don't match.");

		const res = await post("/api/users/password", {
			old: oldPW,
			new: newPW,
		});
		if (res._resCode === 200) alert.success(res.message);
		else alert.error(res.message);
	}

	async function resetPassword() {
		const res = await post("/api/users/reset/start", { email: "(already logged in)" });
		if (res.done) alert.success("Check your email inbox!");
	}

	let showDeletion = false;
	let delPassword = "";
	const deletionChecks = [false, false, false];
	async function deleteAccount() {
		const res = await post("/api/users/permanentDeletion", {
			password: delPassword,
		});
		if (res._resCode === 200) location.pathname = "/";
		else alert.error(res.message);
	}

	const SUPPORT_EMAIL = atob("c3VwcG9ydEBnYWxheHkuY2xpY2s=");
	const PRIVACY_EMAIL = atob("cHJpdmFjeUBnYWxheHkuY2xpY2s=");
</script>

<h1>danger zone</h1>
<div>
	<h3>change your password</h3>
	<div class="form">
		<div data-label="current password">
			<input bind:value={oldPW} type="password" placeholder="••••••••" />
		</div>
		<div data-label="new password">
			<input bind:value={newPW} type="password" placeholder="••••••••" />
		</div>
		<div data-label="repeat new">
			<input
				bind:value={doublePW}
				type="password"
				placeholder="••••••••"
			/>
		</div>
		{#if newPW !== doublePW}
			<div>
				<p style="color: var(--color-red-1)">
					the new passwords don't match
				</p>
			</div>
		{/if}
		<div>
			<button disabled={newPW !== doublePW} on:click={updatePassword}>
				change password
			</button>
		</div>
	</div>
</div>
<div>
	<h3>forgot password</h3>
	<p>
		you can still reset your password via email address while logged out of
		your account. this option is just here for convenience.
	</p>

	<button on:click={resetPassword}>send password reset email</button>
</div>
<div>
	<h3>delete your account</h3>
	<p>
		if you have published any games, please delete your games and try again,
		or email <code>
			{PRIVACY_EMAIL}
		</code> for manual account deletion.
	</p>
	<p>
		if your account is muted or banned, send an email to the above address.
	</p>
	{#if showDeletion}
		<p>
			this action is permanent, complete, and irreversible.<br />
			much of your data on the site is removed, including, but not limited
			to:
		</p>
		<ul>
			<li>all account data</li>
			<li>game comments</li>
			<li>chat messages</li>
			<li>forum threads</li>
			<li>forum posts</li>
			<li>ratings</li>
			<li>favorites</li>
			<li>cloud saves</li>
			<!-- <li>/coutner participation</li> -->
		</ul>
		<p>the following data is kept, but anonymized:</p>
		<ul>
			<li>playtime metrics</li>
			<li>play session statistics</li>
		</ul>
		<div class="form">
			<div data-label="current password">
				<input
					bind:value={delPassword}
					type="password"
					placeholder="••••••••"
				/>
			</div>
			<div>
				<p>please make sure you understand:</p>
			</div>
			<div data-label="this is permanent">
				<input type="checkbox" bind:checked={deletionChecks[0]} />
			</div>
			<div data-label="this is irreversible">
				<input type="checkbox" bind:checked={deletionChecks[1]} />
			</div>
			<div data-label="we'll miss you :(">
				<input type="checkbox" bind:checked={deletionChecks[2]} />
			</div>
			<div>
				<button
					disabled={deletionChecks.some(c => !c)}
					on:click={deleteAccount}
				>
					permanently delete this account
				</button>
			</div>
		</div>
	{:else}
		<button on:click={() => (showDeletion = true)}>⚠️ show form</button>
	{/if}
</div>
<hr />
<p class="unimportant">
	To change the email associated with your account, send an email to
	<code>{SUPPORT_EMAIL}</code>
</p>
