<script lang="ts">
	import { alert, convertFormat, formSvelte, post } from "~/libgalaxy";
	import type { IUser } from "~/types";
	import MarkdownEditor from "../MarkdownEditor.svelte";
	import UserChip from "../UserChip.svelte";
	import flairs from "../../../config/flairs.json";
	import { userBio } from "~/helper/markdown";

	export let user: IUser;

	let pfpInput: HTMLInputElement;

	const pfpClick = formSvelte(
		"pfpForm",
		["image"],
		({ time }) => {
			user.pfpTimestamp = time;
		},
		true
	);

	// see bioTrap.ts
	import { onDestroy, onMount } from "svelte";

	const BANNED_EARLY_TERMS = ["http", "www", ".com", "url", "href"];
	let secretForm = false;
	let secretTime = 0;
	let secretApples = 0;
	function bioClickWrapper() {
		if (
			user.playMinutes < 10 &&
			BANNED_EARLY_TERMS.some(term => user.bio.includes(term))
		) {
			secretForm = true;
			secretTime = 2;
			// secretTime = Math.floor(Math.random() * 30 + 30);
		} else bioClick();
	}

	let interval;
	onMount(() => (interval = setInterval(() => secretTime--, 1000)));
	onDestroy(() => clearInterval(interval));

	async function bioTrap() {
		await post("/api/users/bioTrap", {
			bio: user.bio,
			apples: secretApples,
		});
		// This is mind tricks, either way nothing happens
		if (secretApples === 207)
			alert.success(
				"Thank you for your response! Your bio has been updated."
			);
		else
			alert.success(
				"Thank you for your response! Your bio has not been updated."
			);
		setTimeout(() => (window.location.pathname = "/"), 4000);
	}
	// end bio trap

	const bioClick = formSvelte("bioForm", ["bio"], res => {
		if (res._resCode === 200) alert.success("Bio updated!");
	});

	let previewedFlair = user.equippedFlair;
	async function setFlair(flair: string) {
		user.equippedFlair = flair;
		await post("/api/users/flair", flair);
	}
</script>

<h1>account appearance</h1>
<div class="form">
	<div data-label="avatar">
		<div>
			<div>
				<button id="pfp-changer" on:click={() => pfpInput.click()}>
					<img
						src={convertFormat(
							"/pfp/large/",
							user.id,
							user.pfpTimestamp
						)}
						alt="Avatar"
					/>
					<p>Change avatar</p>
				</button>
			</div>
			<span class="unimportant">recommended size: 256x256</span>
		</div>
		<div id="pfpForm" data-action="/api/users/pfp">
			<input
				type="file"
				name="image"
				accept="image/*"
				style="display: none"
				bind:this={pfpInput}
				on:change={pfpClick}
			/>
		</div>
	</div>

	<div data-label="bio">
		{#if secretTime > 0}
			<p>
				you've tripped our anti-spam system.<br />
				to prove your humanity, please solve the following captcha.<br
				/>
				<i
					>our servers are currently under heavy load. please wait
					while we generate a captcha for you...</i
				>
			</p>
			<p>{secretTime} seconds left for generation.</p>
		{:else if secretForm}
			<div>
				<p>
					i have 18 apples. sally takes 4 of my apples, and then fred
					gives me 193 apples. how many do i have?
				</p>
				<div>
					<button on:mousedown={() => secretApples--}>-</button>
					<span>{secretApples}</span>
					<button on:mousedown={() => secretApples++}>+</button>
				</div>
				<button on:click={bioTrap}>submit captcha</button>
			</div>
		{:else}
			<data id="bioForm" data-action="/api/users/bio">
				<MarkdownEditor
					form="bioForm"
					name="bio"
					maxlength={1024}
					options={userBio}
					bind:value={user.bio}
				/>
				<br />
				<button on:click={bioClickWrapper}>update</button>
			</data>
		{/if}
	</div>
</div>

<h1>flairs</h1>
<p>
	Have a little text appear next to your name!
	<a href="/docs/flairs">What are flairs?</a>
</p>
<div id="this-is-how-you-look-saying-this-shit">
	<UserChip user={{ ...user, equippedFlair: previewedFlair }} />
	<p>{flairs[previewedFlair]?.hint ?? `no hint for ${previewedFlair}`}</p>
</div>
<div id="flairs-container">
	<div id="flairs">
		{#each Object.entries(flairs) as [name, flair]}
			{#if flair["hidden"] !== true || user.flairs.includes(name)}
				<div>
					<button
						class="flair"
						data-flair={name}
						disabled={!user.flairs.includes(name)}
						on:mouseover={() => (previewedFlair = name)}
						on:focus={() => (previewedFlair = name)}
						on:mouseleave={() =>
							(previewedFlair = user.equippedFlair)}
						on:click={() => setFlair(name)}
					>
						{name}
					</button>
				</div>
			{/if}
		{/each}
	</div>
</div>

<!-- <p>
	current flair:
	<button class="flair" data-flair={user.equippedFlair}>
		{user.equippedFlair}
	</button>
</p>
<p>
	unlocked flairs:
	{#each user.flairs as flair}
		<button
			class="flair"
			data-flair={flair}
			on:click={() => setFlair(flair)}
		>
			{flair}
		</button>
	{/each}
</p> -->

<!-- 
<div>
	<h2>danger zone</h2>
	<div>
		<h3>change your password</h3>
		<input
			bind:value={oldPW}
			type="password"
			placeholder="current password"
		/><br />
		<input
			bind:value={newPW}
			type="password"
			placeholder="new password"
		/><br />
		<input
			bind:value={doublePW}
			type="password"
			placeholder="new password (repeat)"
		/><br />
		{#if newPW !== doublePW}
			<p>the new passwords don't match</p>
		{/if}
		<button disabled={newPW !== doublePW} on:click={updatePassword}>
			change
		</button>
	</div>
</div> -->

<style>
	#pfp-changer {
		grid-row: 1 / span 2;
		transition: filter 0.3s;
		position: relative;
		height: 200px;
		padding: 0;
		margin: 0;
	}

	#pfp-changer img {
		border-radius: 5px;
		transition: filter 0.3s;
		height: 200px;
	}

	#pfp-changer:hover img {
		filter: brightness(50%);
	}

	#pfp-changer p {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		margin: 0;
		opacity: 0;
		transition: opacity 0.3s;
		color: white;
	}

	#pfp-changer:hover p {
		opacity: 1;
	}

	input {
		background: var(--background-2);
	}

	#this-is-how-you-look-saying-this-shit {
		background: var(--background-3);
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		box-shadow: inset 0 0 5px #0007;
	}

	#flairs-container {
		/* display: flex; */
		margin: auto;
	}

	#flairs {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		gap: 30px;
		margin: 20px auto;
	}

	#flairs div {
		text-align: center;
	}

	#flairs [disabled] {
		opacity: 0.5;
	}
</style>
