<script lang="ts">
	import type { CannedResponse, IUser } from "~/types";
	import { alert, post } from "~/libgalaxy";
	import AdminUserCard from "./AdminUserCard.svelte";

	export let recipient: IUser | string | null = null;
	export let cannedResponses: CannedResponse[] = [];
	export let templates: { [key: string]: string } = {};

	let title = "";
	let body = "";

	function template(str: string) {
		for (const [keyword, template] of Object.entries(templates)) {
			// TODO this could feasibly create edge cases in the future
			// if you have like $aa and $aab depending on the order they're templated in
			// I'm not putting too much effort into this system atm because this component
			// doesn't seem like it'll get a lot of use in the codebase. But it may be worth
			// coming back to if it does
			str = str.replaceAll("$" + keyword, template);
		}
		return str;
	}

	function useCannedResponse(idx: number) {
		title = template(cannedResponses[idx].title);
		body = template(cannedResponses[idx].body);
	}

	async function send() {
		if (title === "" || body === "")
			return alert.error("Don't send a blank message!");
		if (typeof recipient === "string" || recipient === null)
			return alert.error(
				"Unexpected behavior encountered while trying to send message. Please please report this."
			);
		await post("/api/admin/inboxComms", {
			title,
			content: body,
			to: recipient.id,
		});
		alert.success("Message sent");
		title = "";
		body = "";
	}
</script>

<h6>compose message to <AdminUserCard data={recipient} /></h6>
<div>
	<details>
		<summary>presets</summary>
		{#each cannedResponses as cannedResponse, i}
			<button on:click={() => useCannedResponse(i)}>
				{cannedResponse.summary}
			</button>
			<br />
		{/each}
	</details>

	<input type="text" placeholder="subject" bind:value={title} />
	<textarea placeholder="body" bind:value={body}></textarea>
	<button on:click={send}>send message</button>
</div>

<style>
	textarea,
	input {
		background: var(--background-1);
		width: 100%;
	}

	textarea {
		height: 200px;
	}

	input {
		padding: 2px 7px;
	}
</style>
