<script lang="ts" context="module">
	export type DTSchema = {
		name: string;
		type?: string;
	};
</script>

<script lang="ts">
	import type { IUser } from "~/types";

	import Pfp from "../Pfp.svelte";

	export let schema: Record<string, DTSchema> = {};
	export let data: Record<string, string | number | object>[] = [];
	export let onitemclick: ((item: string | number | object) => void) = () => {};
	export let tall: boolean = false;

	function isUser(x: unknown): x is IUser {
		return typeof x === "object";
	} 
</script>

<div class="data-table" class:tall>
	<table>
		<thead>
			<tr>
				{#each Object.keys(schema) as col}
					<th>
						{schema[col].name}
					</th>
				{/each}
				<th style="width:100%"></th>
			</tr>
		</thead>
		<tbody>
			{#each data as item}<tr on:click={() => onitemclick?.(item)}>
					{#each Object.keys(schema) as col}<td>
							{#if schema[col].type == "user"}
								{#if isUser(item[col])}
									<Pfp
										userId={item[col].id}
										pfpTimestamp={item[col].pfpTimestamp}
										size="small"
										inline
									/>
									{item[col].name}
									<span class="unimportant tnum"
										>{item[col].id}</span
									>
								{:else}
									<span class="unimportant">{item[col]}</span>
								{/if}
							{:else if schema[col].type == "tnum"}
								<span class="tnum">{item[col]}</span>
							{:else if schema[col].type == "score"}
								<div class="align-right tnum"
									class:warning-score={item[col] <= 0}
									class:bad-score={item[col] <= -4}>{item[col]}</div>
							{:else}
								{item[col]}
							{/if}
						</td>
					{/each}<td style="width:100%"></td>
				</tr>
			{/each}
		</tbody>
	</table>
</div>

<style>
	.data-table {
		width: 100%;
		overflow-x: scroll;
	}
	.data-table.tall {
		height: 100%;
		overflow-y: auto;
	}
	.data-table table {
		min-width: 100%;
		border: none;
		border-collapse: collapse;
		white-space: nowrap;
	}
	.data-table thead {
		background: var(--background-1);
		text-align: left;
		position: sticky;
		top: 0;
	}
	.data-table thead th {
		background: var(--background-3);
	}
	.data-table :is(th, td) {
		padding: 5px 10px;
	}

	.data-table tr {
		background: var(--background-0);
		--hover-color: var(--background-active-4);
		user-select: none;
		cursor: pointer;
	}
	.data-table tr:nth-child(even) {
		background: var(--background-1);
		--hover-color: var(--background-active-5);
	}

	.data-table tbody tr:hover {
		background: var(--hover-color);
		transition: background 0.3s;
	}

	:global(.ap-content) .data-table {
		margin-inline: -20px;
		width: calc(100% + 40px);
	}

	.data-table :global(.profile-pic) {
		width: 16px;
		aspect-ratio: 1;
	}

	.align-right {
		text-align: right;
	}
	.tnum {
		font-variant-numeric: tabular-nums;
	}
	.warning-score {
		color: var(--color-yellow-1);
	}
	.bad-score {
		font-weight: bold;
		color: var(--color-red-1);
	}
</style>
