---
import Form from "~/components/Form.astro";
import Layout from "~/layouts/Layout.astro";

if (!Astro.locals.auth.loggedIn) return Astro.redirect("/");
---

<Layout title="request a forum category">
	<main id="main">
		<h1>request a forum category</h1>
		<p>
			You will be made the owner of the category if it gets created.
			<br />
			If you've made multiple games, consider one category for all of them
			to reduce clutter on the forums.
		</p>
		<div id="request" data-action="/api/forum/request">
			<Form>
				<div data-label="category name">
					<input type="text" name="name" placeholder="(required)" />
				</div>
				<div data-label="category slug">
					<input type="text" name="slug" placeholder="(required)" />
				</div>
				<div data-label="category description">
					<input
						type="text"
						name="description"
						placeholder="(required)"
					/>
				</div>
				<div data-label="reasoning">
					<input
						type="text"
						name="reason"
						placeholder="why is the thread not enough?"
					/>
				</div>
				<div data-label="let's go">
					<button type="submit" role="button">
						request category
					</button>
				</div>
			</Form>
		</div>
	</main>
</Layout>

<script>
	import { alert, form } from "~/libgalaxy";

	form(
		"request",
		["name", "slug", "description", "reason"],
		res => {
			if (res.message === "success") {
				alert.success("Your request has been sent!");
				setTimeout(() => (window.location.pathname = "/"), 1000);
			}
		},
		false
	);
</script>
