<script lang="ts">
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";
	import type { IStaffActivity } from "~/types";

	export let adminOps: AdminOps;
	export let data: IStaffActivity;

	let isRawData: boolean = false;
</script>

<h4>
	audit log <span class="unimportant tnum">{data._id}</span>
</h4>

<div>
	<button
		on:click={() => {
			isRawData = !isRawData;
		}}>{isRawData ? "hide" : "show"} relevant data</button
	>
</div>

<h6>staff</h6>
<div><AdminUserCard data={adminOps.getUser(data.staff)} {adminOps} /></div>
<br />

<h6>summary</h6>
<p>{data.summary}</p>
<br />

<h6>elaboration</h6>
<pre>{data.fullDescription}</pre>

{#if typeof data.rawData.userId === "number"}
	<h6>referenced user</h6>
	<div>
		<AdminUserCard
			data={adminOps.getUser(data.rawData.userId)}
			{adminOps}
		/>
	</div>
	<br />
{/if}

{#if isRawData}
	<h6>relevant data</h6>
	<pre>{JSON.stringify(data.rawData, null, 3)}</pre>
{/if}
