<script lang="ts">
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";
	import type { IChatMessage } from "~/types";

	export let adminOps: AdminOps;
	export let data: {
		msg: IChatMessage;
		before: IChatMessage[];
		after: IChatMessage[];
	};

	let isJSON = false;
</script>

<h4>chat excerpt</h4>

<div>
	<button
		on:click={() => {
			isJSON = !isJSON;
		}}>{isJSON ? "hide" : "show"} JSON</button
	>
	<a href="/chat/{data.msg.channel}" class="button" target="_blank">
		open channel
	</a>
</div>

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}
	<h6>author</h6>
	<div>
		<AdminUserCard data={adminOps.getUser(data.msg.author)} {adminOps} />
	</div>
	<br />

	<h6>channel</h6>
	<div><code>{data.msg.channel}</code></div>
	<br />

	<h6>before</h6>
	<div>
		{#each data.before as msg}
			<AdminUserCard data={adminOps.getUser(msg.author)} {adminOps} />
			{msg.content} <br />
		{/each}
	</div>
	<br />

	<h6>content</h6>
	<div>{data.msg.content}</div>
	<br />

	<h6>after</h6>
	<div>
		{#each data.after as msg}
			<AdminUserCard data={adminOps.getUser(msg.author)} {adminOps} />
			{msg.content} <br />
		{/each}
	</div>
{/if}
