<script lang="ts">
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";
	import type { IMessage } from "~/types";
	import { formatAbsolute } from "~/helper/format";

	export let adminOps: AdminOps;
	export let data: IMessage;

	let isJSON = false;
</script>

<h4>
	message
</h4>

<div>
	<button
		on:click={() => {
			isJSON = !isJSON;
		}}>{isJSON ? "hide" : "show"} JSON</button
	>
</div>

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}<br />

	<h6>subject</h6>
	<div>{data.title}</div>
	<br />

	<h6>from</h6>
	<div><AdminUserCard data={adminOps.getUser(data.from)} {adminOps} /></div>
	<br />

	<h6>to</h6>
	<div><AdminUserCard data={adminOps.getUser(data.to)} {adminOps} /></div>
	<br />

	<h6>body</h6>
	<pre>{data.content}</pre>
	<br />

	<h6>sent at</h6>
	<div>{formatAbsolute(new Date(data.createdAt))}</div>
{/if}