<script lang="ts">
	import { alert, post } from "~/libgalaxy";
	import type { AdminOps } from "~/helper/adminHelper";
	import AdminUserCard from "../AdminUserCard.svelte";
	import type { IForumThread } from "~/types";

	export let adminOps: AdminOps;
	export let data: IForumThread;

	let isJSON = false;

	async function deleteThread() {
		await post("/api/forum/deleteThread", data.id);
		alert.success("Thread deleted");
	}
</script>

<h4>
	thread <span class="unimportant tnum">
		{data.id}
	</span>
</h4>

<div>
	<button
		on:click={() => {
			isJSON = !isJSON;
		}}>{isJSON ? "hide" : "show"} JSON</button
	>
	<a class="button" href="/forum/thread/{data.id}" target="_blank">
		go to page
	</a>
</div>

{#if isJSON}
	<pre>{JSON.stringify(data, null, 3)}</pre>
{:else}<br />

	<h6>title</h6>
	<div>{data.name}</div>
	<br />

	<h6>author</h6>
	<div><AdminUserCard data={adminOps.getUser(data.author)} {adminOps} /></div>
	<br />

	<h6>text preview</h6>
	<pre>{data.preview}</pre>
	<br />
{/if}

<h6>actions</h6>
<div>
	<button on:click={deleteThread}>delete thread</button>
	<button on:click={() => adminOps.setTab("post-feed", false, data.id)}>
		view posts
	</button>
</div>

<style>
	.tnum {
		font-variant-numeric: tabular-nums;
	}
</style>
