<script lang="ts">
	import DataTable from "../DataTable.svelte";
	import FeedPagination from "../FeedPagination.svelte";
	import type { IStaffActivity } from "~/types";
	import TablePanel from "./TablePanel.svelte";
	import { formatAbsolute } from "~/helper/format";
	import { post } from "~/libgalaxy";

	export let adminOps;

	let data: IStaffActivity[] = [];
	let latestRequest = 0;
	let page = 1;
	let pageCount = 1;
	let isReady = false;
	let byUser: false | number = false;

	async function loadData() {
		// See CommentFeed.svelte for explanation
		const thisRequest = Date.now();
		latestRequest = thisRequest;

		const res = await post("/api/admin/query/auditLogFeed", {
			page,
			...(byUser === false ? {} : { user: byUser }),
		});

		if (thisRequest !== latestRequest) return;

		data = res.result;
		pageCount = res.pageCount;

		isReady = true;
	}

	function setPage(pg: number) {
		page = pg;
		isReady = false;
		loadData();
	}

	export function setUser(id?: number | false) {
		if (id === undefined) {
			const input = parseInt(prompt("Enter user id (esc to cancel)"));
			if (isNaN(input)) byUser = false;
			else byUser = input;
		} else byUser = id;
		loadData();
	}

	loadData();
</script>

<TablePanel>
	<div>
		<strong>audit log</strong>
		<button on:click={() => setUser()}>
			by staff id
			{#if byUser !== false}
				<strong>{byUser}</strong>
			{/if}
		</button>
	</div>
	{#if isReady}
		<FeedPagination {page} {pageCount} {setPage} />
		<DataTable
			data={data.map(x => ({
				author: adminOps.getUser(x.staff),
				summary: x.summary,
				when: formatAbsolute(new Date(x.createdAt)),
				id: x._id,
			}))}
			schema={{
				author: { name: "staff", type: "user" },
				summary: { name: "summary" },
				when: { name: "time" },
			}}
			onitemclick={x => {
				adminOps.addModal(
					"auditlog",
					data.find(y => y._id === x.id)
				);
			}}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
