<script lang="ts">
	import DataTable from "../DataTable.svelte";
	import FeedPagination from "../FeedPagination.svelte";
	import type { IComment } from "~/types";
	import TablePanel from "./TablePanel.svelte";
	import { post } from "~/libgalaxy";

	export let adminOps;

	let data: IComment[] = [];
	let latestRequest = 0;
	let page = 1;
	let pageCount = 1;
	let isReady = false;
	let byUser: false | number = false;
	let sort = "-id";

	const sorts = ["-id", "score"];
	const sortNames = { "-id": "most recent", score: "least popular" };

	async function loadData() {
		// If multiple requests are made at the same time, only the latest one will be processed
		// This edge case occurs when going from user modal to comment feed via "view user's comments" button
		const thisRequest = Date.now();
		latestRequest = thisRequest;

		const res = await post("/api/admin/query/commentFeed", {
			page,
			sort,
			...(byUser === false ? {} : { user: byUser }),
		});

		if (thisRequest !== latestRequest) return;

		data = res.result;
		pageCount = res.pageCount;

		isReady = true;
	}

	function setPage(pg: number) {
		page = pg;
		isReady = false;
		loadData();
	}

	export function setUser(id?: number | false) {
		if (id === undefined) {
			const input = parseInt(prompt("Enter user id (esc to cancel)"));
			if (isNaN(input)) byUser = false;
			else byUser = input;
		} else byUser = id;
		loadData();
	}

	function changeSort() {
		sort = sorts[(sorts.indexOf(sort) + 1) % sorts.length];
		loadData();
	}

	loadData();
</script>

<TablePanel>
	<div>
		<strong>comments</strong>
		<button on:click={() => setUser()}>
			by user id
			{#if byUser !== false}
				<strong>{byUser}</strong>
			{/if}
		</button>
		<button on:click={changeSort}>
			{sortNames[sort]}
		</button>
	</div>
	{#if isReady}
		<FeedPagination {page} {pageCount} {setPage} />
		<DataTable
			data={data.map(x => ({
				id: x.id,
				author: adminOps.getUser(x.author),
				game: x.game,
				score: x.score,
				content: (() => {
					let str = String(x.content);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
				response: (() => {
					let str = String(x.devResponse ?? "");
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
				deleted: x.deleted === true ? "yes" : "",
			}))}
			schema={{
				id: { name: "id", type: "tnum" },
				author: { name: "author", type: "user" },
				game: { name: "game", type: "tnum" },
				score: { name: "score", type: "score" },
				deleted: { name: "deleted" },
				content: { name: "content" },
				response: { name: "developer response" },
			}}
			onitemclick={x => {
				const comment = data.find(y => y.id == x.id);
				adminOps.addModal("comment", comment);
			}}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
