<!-- If you're reading this from the source code, hello! :3 -->
<div>
	<h1>admin handbook</h1>
	<p>
		this panel contains explanations of some of the more convoluted features
		of the admin panel and inner workings of galaxy. if you have any further
		questions, feel free to ask me (yhvr) :)
	</p>

	<h2>ui</h2>
	<p>
		<b>REMEMBER TO COMMIT CHANGES YOU MAKE!</b> if you change something like
		a game's name or a user's flairs, make sure to click the
		<button>commit edited info</button> button at the top of the modal.
		<br /> <br />
		the ui of the admin panel is comprised of modals and panels. a modal is a
		popup which displays information about a piece of data on the site, like
		a user or game. a panel is a page accesible from the sidebar. most panels
		are also considered "feeds"--a tabular list of some sort of data on the site.
		click on a row in a feed to open up a modal with more information. some modals
		have buttons to open more modals, and some modals have buttons to focus panels.
	</p>

	<h3>historical data</h3>
	<p>
		reports save a snapshot of what relevant data looked like at the time of
		the report. if the background of a modal is red, it indicates that you
		are looking at historical data that may no longer be up-to-date.
	</p>

	<h3>canning</h3>
	<p>
		canning is the act of using pre-written template messages to send PMs to
		users from the galaxy account. certain modals will have a "compose
		message to [...]" section, which has a "presets" dropdown that'll give
		you a starting point for common messages.
	</p>

	<h2>verification</h2>
	<p>
		accept or reject a game when it reaches 3 positive or 3 negative votes
		respectively.
	</p>

	<h3>accepting</h3>
	<p>click "verify game" in the verification modal.</p>

	<h3>rejecting</h3>
	<p>
		send an applicable rejection message using the canning in the
		verification modal. afterwards, delete the game via the game modal.
	</p>

	<h3>encountered issues / questions for the developer</h3>
	<p>
		you can send a message in the unverified chat, found in the verification
		modal.
	</p>
</div>
