<script lang="ts">
	import { alert, json, post } from "~/libgalaxy";
	import DataTable from "../DataTable.svelte";
	// import GameCard from "../../GameCard.svelte";

	export let adminOps;

	let loaded = false;
	let data: any = {};

	// let leavingNote = 0;
	// let noteText = "";
	// function openNote(game: IGame) {
	// 	leavingNote = game.id;
	// 	noteText = "";
	// }

	async function loadData() {
		const res = await json("/api/admin/housekeepingData");
		console.log(res);
		data = res;
		loaded = true;
	}

	// async function verify(game: IGame, status: boolean | string) {
	// 	await post("/api/admin/verifyStatus", { game: game.id, status });
	// 	leavingNote = -1;
	// 	loadData();
	// }

	let parentSlug = "";

	async function grantCategory(idx: number) {
		const cat = data.crequests[idx];
		const { message } = await post("/api/admin/grantCategory", {
			parent: parentSlug,
			slug: cat.slug,
		});

		if (message === "Done")
			alert.success(
				"Fucked up edge-case--we're using forum categories? Manually send a PM to the user that it was approved."
			);

		// 		if (message === "Done") {
		// 			sendToEveryone = false;
		// 			sendToUid = cat.requestAuthor;
		// 			messageTitle = "Your category request was approved!";
		// 			messageContent = `Your request to create the category ${cat.name} has been approved!

		// You can find it [here](/forum/category/${cat.slug}), and customize it and appoint moderators [here](/forum/mod/${cat.slug}).

		// If you have any more questions, feel free to join [the Discord server](/discord) or send an email to \`support@galaxy.click\`.`;

		// 			loadData();
		// 		}
	}

	async function nopeCategory(idx: number) {
		const cat = data.crequests[idx];
		const { message } = await post("/api/admin/nopeCategory", {
			slug: cat.slug,
		});

		if (message === "Done")
			alert.success(
				"Fucked up edge-case--we're using forum categories? Manually send a PM to the user that it was denied."
			);
	}

	loadData();
</script>

{#if loaded}
	<div>
		<h2>verification</h2>
		{#if data.unverified.length === 0}
			<p>all good 🎉</p>
		{:else}
			<p>
				<b>{data.unverified.length} unverified games</b>
			</p>
			<DataTable
				data={data.unverified.map(x => ({
					name: x.name,
					author: adminOps.getUser(x.author),
					status: "0",
					notes: x.verified ?? "",
				}))}
				schema={{
					name: { name: "name" },
					author: { name: "author", type: "user" },
					status: { name: "status" },
					notes: { name: "notes" },
				}}
			/>
		{/if}

		<h2>forum category requests</h2>
		{#each data.crequests as cat, i}
			<details>
				<summary>{cat.name}</summary>
				slug: {cat.slug}<br />
				desc: {cat.description}<br />
				why? {cat.reason}<br />
				<button on:click={() => grantCategory(i)}>grant</button> with
				the parent
				<input bind:value={parentSlug} placeholder="(slug)" /><br />
				<button on:click={() => nopeCategory(i)}>nuh uh!</button>
			</details>
		{:else}
			🎉
		{/each}

		<!-- <h2>game requests</h2>
		{#each data.requests as request, i}
			<div>
				<details>
					<summary>{request.name}</summary>
					link:
					<a href={request.link} target="_blank">{request.link}</a>
					<br />
					contact: {request.contact} <br />
					request by
					<a href="/user/{request.requestAuthor}" target="_blank"
						>{request.requestAuthor}</a
					>
					<br />
					{request.also}<br />
					<button on:click={() => handleRequest(true, i)}
						>close (give flair)</button
					>
					<button on:click={() => handleRequest(false, i)}
						>close (no flair)</button
					><br />
					<span>draft messages:</span>
					<button on:click={() => draftMessage(0, i)}
						>put on site (flair)</button
					>
					<button on:click={() => draftMessage(1, i)}
						>put on site (no flair)</button
					>
					<button on:click={() => draftMessage(2, i)}
						>already on site</button
					>
					<button on:click={() => draftMessage(3, i)}
						>dev said no</button
					>
					<button on:click={() => draftMessage(4, i)}
						>working on it</button
					>
				</details>
			</div>
		{:else}
			<p class="unimportant">no</p>
		{/each} -->
	</div>
{:else}
	<h1>loading...</h1>
{/if}
