<script lang="ts">
	import { alert, json, post } from "~/libgalaxy";

	let data: { [key: string]: boolean } = {};
	let isReady = false;

	function toggle(key: string) {
		data[key] = !data[key];
	}

	function setAll(to: boolean) {
		for (const key in data) {
			data[key] = to;
		}
	}

	async function saveData() {
		await post("/api/admin/edit/lockdown", data);
		alert.success("Settings updated");
	}

	async function loadData() {
		data = (await json("/api/admin/query/lockdown")).data;
		isReady = true;
	}

	loadData();
</script>

<div>
	<strong>lockdown</strong>
	<br />
	<br />
	{#if isReady}
		<button on:click={() => setAll(true)}>lockdown all</button>
		<button on:click={() => setAll(false)}>unlockdown all</button>
		<div class="lockdown-entries">
			{#each Object.entries(data) as [key, value]}
				<div class="lockdown-entry">
					<h6>{key}</h6>
					<button on:click={() => toggle(key)}>
						currently <span class="bool-{!value}">
							{value ? "locked down" : "open"}
						</span>
					</button>
				</div>
			{/each}
		</div>
		<br />
		<button on:click={saveData}>commit changes</button>
	{/if}
</div>

<style>
	.lockdown-entries {
		display: flex;
		flex-flow: column;
		margin-top: 25px;
		gap: 10px;
	}

	.lockdown-entry {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.lockdown-entry h6 {
		font-weight: normal;
		font-family: var(--header-font);
		color: var(--color-2);
		font-size: 12px;
		margin: 0;
	}
</style>
