<script lang="ts">
	import DataTable from "../DataTable.svelte";
	import FeedPagination from "../FeedPagination.svelte";
	import type { IForumPost } from "~/types";
	import TablePanel from "./TablePanel.svelte";
	import { post } from "~/libgalaxy";

	export let adminOps;

	let data: IForumPost[] = [];
	let latestRequest = 0;
	let page = 1;
	let pageCount = 1;
	let isReady = false;
	let byUser: false | number = false;
	let byThread: false | number = false;

	async function loadData() {
		// See CommentFeed.svelte for explanation
		const thisRequest = Date.now();
		latestRequest = thisRequest;

		const res = await post("/api/admin/query/postFeed", {
			page,
			...(byUser === false ? {} : { user: byUser }),
			...(byThread === false ? {} : { thread: byThread }),
		});

		if (thisRequest !== latestRequest) return;

		data = res.result;
		pageCount = res.pageCount;

		isReady = true;
	}

	function setPage(pg: number) {
		page = pg;
		isReady = false;
		loadData();
	}

	export function setUser(id?: number | false) {
		if (id === undefined) {
			const input = parseInt(prompt("Enter user id (esc to cancel)"));
			if (isNaN(input)) byUser = false;
			else byUser = input;
		} else byUser = id;
		loadData();
	}

	export function setThread(id?: number | false) {
		if (id === undefined) {
			const input = parseInt(prompt("Enter thread id (esc to cancel)"));
			if (isNaN(input)) byThread = false;
			else byThread = input;
		} else byThread = id;
		loadData();
	}

	loadData();
</script>

<TablePanel>
	<div>
		<strong>posts</strong>
		<button on:click={() => setUser()}>
			by user id
			{#if byUser !== false}
				<strong>{byUser}</strong>
			{/if}
		</button>
		<button on:click={() => setThread()}>
			by thread id
			{#if byThread !== false}
				<strong>{byThread}</strong>
			{/if}
		</button>
	</div>
	{#if isReady}
		<FeedPagination {page} {pageCount} {setPage} />
		<DataTable
			data={data.map(x => ({
				id: x.id,
				author: adminOps.getUser(x.author),
				thread: x.thread,
				body: (() => {
					let str = String(x.body);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
				deleted: x.deleted + "",
			}))}
			schema={{
				id: { name: "id", type: "tnum" },
				author: { name: "author", type: "user" },
				thread: { name: "thread", type: "tnum" },
				body: { name: "body" },
				deleted: { name: "deleted", type: "bool" },
			}}
			onitemclick={x =>
				adminOps.addModal(
					"post",
					data.find(y => y.id == x.id)
				)}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
