<div class="table-panel">
	<slot />
</div>

<style>
	.table-panel {
		display: flex;
		height: calc(100% + 30px);
		flex-flow: column;
		gap: 10px;
		margin-block: -20px;
		padding-block: 10px 0;
	}
	.table-panel > :global(*) {
		flex: 0 0;
	}
	.table-panel > :global(.data-table) {
		flex: 1 1 100%;
		margin-inline: -10px;
	}
</style>
