<script lang="ts">
	import DataTable from "../DataTable.svelte";
	import FeedPagination from "../FeedPagination.svelte";
	import type { IUser } from "~/types";
	import TablePanel from "./TablePanel.svelte";
	import { post } from "~/libgalaxy";

	export let adminOps;

	let data: IUser[] = [];
	let page = 1;
	let pageCount = 1;
	let isReady = false;

	async function loadData() {
		const res = await post("/api/admin/query/userFeed", { page });
		console.log(res);

		data = res.result;
		pageCount = res.pageCount;
		adminOps.pushUsers(data);

		isReady = true;
	}

	function setPage(pg: number) {
		page = pg;
		isReady = false;
		loadData();
	}

	loadData();
</script>

<TablePanel>
	<strong>users</strong>
	{#if isReady}
		<FeedPagination {page} {pageCount} {setPage} />
		<DataTable
			data={data.map(x => ({
				id: x.id,
				user: x,
				flair: x.equippedFlair,
				bio: (() => {
					let str = String(x.bio);
					if (str.length > 40) str = str.substring(0, 37) + "...";
					return str;
				})(),
			}))}
			schema={{
				user: { name: "user", type: "user" },
				flair: { name: "flair" },
				bio: { name: "bio" },
			}}
			onitemclick={x =>
				adminOps.addModal(
					"user",
					data.find(y => y.id == x.id)
				)}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
