<script lang="ts">
	// import type { IGame, IUser } from "~/types";
	import DataTable from "../DataTable.svelte";
	import TablePanel from "./TablePanel.svelte";
	import { formatDate } from "~/helper/format";
	import { json } from "~/libgalaxy";

	export let adminOps;

	let data = [];
	let unverifiedInfo = {};
	let isReady = false;

	async function loadData() {
		const res = await json("/api/admin/query/verification");
		data = res.games;
		unverifiedInfo = res.data;
		isReady = true;
	}

	// It's like, a weird partial amalgam of IGame so it's not worth to type it. This is good enough
	function openGameModals(x: { id: string }) {
		const game = data.find(y => y.id == x.id);
		adminOps.addModal("verification", {
			game,
			data: unverifiedInfo[game.id],
		});
		adminOps.addModal("game", game);
	}

	loadData();
</script>

<TablePanel>
	<strong>verification</strong>
	{#if isReady}
		<DataTable
			data={data.map(x => ({
				id: x.id,
				name: x.name,
				author: adminOps.getUser(x.author),
				status:
					unverifiedInfo[x.id] !== undefined
						? `${unverifiedInfo[x.id].upvotes.length} - ${
								unverifiedInfo[x.id].downvotes.length
							}`
						: "unknown",
				createdAt: formatDate(new Date(x.createdAt)),
				notes: x.verified ?? "",
				unreadMsgs:
					unverifiedInfo[x.id]?.read.includes(adminOps.self.id) ===
						false && unverifiedInfo[x.id]?.chat.length > 0
						? "(!)"
						: "",
			}))}
			schema={{
				name: { name: "name" },
				author: { name: "author", type: "user" },
				status: { name: "status" },
				createdAt: { name: "requested" },
				notes: { name: "notes" },
				unreadMsgs: { name: "unread messages" },
			}}
			onitemclick={openGameModals}
			tall
		/>
	{:else}
		<span>loading...</span>
	{/if}
</TablePanel>
