---
import Inbox from "~/components/Inbox.svelte";
import Layout from "~/layouts/Layout.astro";
import { astroUnder13 } from "~/helper/coppa";

const user = Astro.locals.auth;

const isUnderage = astroUnder13(Astro);
---

<Layout title="your inbox - galaxy" showFooter={false} user={user}>
	{
		user.loggedIn ? (
			<main>
				<Inbox client:only="svelte" {isUnderage} />
			</main>
		) : (
			<main id="main">
				<h1>damn.</h1>
				<p>you need to be logged in to access your inbox.</p>
			</main>
		)
	}
</Layout>
