---
import { monthUnder13, months } from "~/helper/coppa";
import Form from "~/components/Form.astro";
import Layout from "~/layouts/Layout.astro";
import { env } from "~/helper/env";

if (Astro.cookies.has("token")) return Astro.redirect("/");

const currentYear = new Date().getFullYear();

const birthInfo: [number, number] = Astro.cookies.has("birth-info")
	? (Astro.cookies
			.get("birth-info")
			.value.split(",")
			.map(n => parseInt(n, 10)) as [number, number])
	: [-1, -1];
---

<Layout title="sign up - galaxy">
	<main id="main">
		<div id="signup" data-action="/api/users/signup">
			<h1>welcome to galaxy</h1>
			<!-- TODO more client side form validation stuff -->
			<Form>
				<div>
					<p>
						A Galaxy account lets you publish games, give feedback,
						chat with people, and more.
						<br />
						<b
							>Use a strong password. Consider using a password
							manager.</b
						>
					</p>
				</div>
				<div data-label="username">
					<input
						type="text"
						name="name"
						placeholder="(required)"
						pattern="[a-zA-Z0-9_\-]{3,28}"
						required
					/>
				</div>
				<div data-label="email">
					<input
						accept=""
						type="email"
						name="email"
						placeholder="(required)"
						required
					/>
				</div>
				<div data-label="password">
					<input
						type="password"
						name="password"
						placeholder="(required)"
						id="password"
						required
					/>
				</div>
				<div data-label="retype password">
					<input
						type="password"
						name="retype-password"
						placeholder="(required)"
						id="retype-password"
						required
					/>
				</div>
				<div data-label="birth year">
					<select
						id="year-select"
						name="year"
						disabled={birthInfo[0] !== -1}
						class="button"
					>
						{
							new Array(120).fill(0).map((_, i) => (
								<option
									value={currentYear - i}
									selected={birthInfo[0] === currentYear - i}
								>
									{currentYear - i}
								</option>
							))
						}
					</select>
				</div>
				<div
					id="month-select-wrapper"
					data-label="birth month"
					style={monthUnder13(...birthInfo) ? "" : "display: none"}
				>
					<select
						id="month-select"
						name="month"
						class="button"
						disabled={birthInfo[1] !== -1}
					>
						{
							months.map((month, i) => (
								<option value={i} selected={birthInfo[1] === i}>
									{month.toLocaleLowerCase()}
								</option>
							))
						}
					</select>
				</div>
				<hr />
				<div data-label="legal">
					<input type="checkbox" id="compliance" />
					<label for="compliance">
						<span>
							<span id="whodunnit">
								{
									monthUnder13(...birthInfo)
										? "A parent or guardian of mine has"
										: "I have"
								}
							</span> read and agree to galaxy's <a href="/terms">
								Terms of Service</a
							>,
							<a href="/privacy">Privacy Policy</a>, and
							<a href="/rules"> Acceptable Use Policy</a>
						</span>
					</label>
				</div>
				<hr />
				<div data-label="humanity check" id="captcha">
					<div
						class="cf-turnstile"
						data-sitekey={env.TURNSTILE_SITEKEY}
						data-callback="captchaDone"
					>
					</div>
					<input
						name="captcha"
						style="display: none"
						aria-hidden="true"
					/>
				</div>
				<hr />
				<div data-label="let's go">
					<button id="enter-button" type="submit" role="button">
						create account
					</button>
				</div>
			</Form>
		</div>
	</main>
</Layout>
<style>
	#captcha::before {
		margin: auto 0;
	}
</style>
<script>
	import { alert, form } from "~/libgalaxy";

	form(
		"signup",
		["name", "email", "password", "year", "month", "captcha"],
		res => {
			if (res.name) {
				alert.success("Account created!");
				window.location.href = "/signedup";
			}
		},
		false,
		() => {
			if (
				// @ts-ignore
				document.getElementById("password").value !==
				// @ts-ignore
				document.getElementById("retype-password").value
			)
				return "Passwords do not match";
			if (
				// @ts-ignore
				!document.getElementById("compliance").checked
			)
				return "Please read and agree to the Terms of Service, Privacy Policy, and Acceptable Use Policy";
			return true;
		}
	);

	// @ts-ignore
	window.captchaDone = (token: string) => {
		// @ts-ignore
		document.querySelector("[name='captcha']").value = token;
	};

	(
		document.getElementById("year-select") as HTMLSelectElement
	).addEventListener("change", e => {
		const year = parseInt((e.target as HTMLSelectElement).value, 10);
		const currentYear = new Date().getFullYear();
		if (currentYear - year <= 13) {
			document.getElementById("month-select-wrapper").style.display =
				"flex";
			document.getElementById("whodunnit").textContent =
				"A parent of guardian of mine has";
		} else {
			document.getElementById("month-select-wrapper").style.display =
				"none";
			document.getElementById("whodunnit").textContent = "I have";
		}
	});
</script>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer
></script>
