---
import CategoryViewer from "../forum/CategoryViewer.svelte";
import { ForumCategory } from "~/models/forumcategory";
import { ForumThread } from "~/models/forumthread";
import type { IForumCategory } from "~/types";
import Layout from "~/layouts/Layout.astro";
import Pagination from "../Pagination.svelte";
import { User } from "~/models/user";
import { astroUnder13 } from "~/helper/coppa";
import { forumModeratorLevel } from "~/helper/forum";

export interface Props {
	category: IForumCategory | false;
}

if (astroUnder13(Astro)) return Astro.redirect("/");

const currentPage = parseInt(Astro.url.searchParams.get("page")) || 1;

let { category } = Astro.props;

if (category === false) {
	category = {
		name: "galaxy forums",
		id: false,
		parent: false,
		slug: "",
		locked: true,
	} as unknown as IForumCategory;
}

let parent: false | IForumCategory = false;

if (category.parent !== false) {
	parent = await ForumCategory.findOne({ id: category.parent });
	// if (parent === null) return new Response(null, { status: 404 });
}

const staffLevel = await forumModeratorLevel(Astro.locals.auth.user, category);

const pinnedThreads = await ForumThread.find(
	{ category: category.id, deleted: false, pinned: true },
	null,
	{ lean: true }
);

const { docs: threadsTmp, totalPages: pages } = await ForumThread.paginate(
	{
		category: category.id,
		pinned: false,
		deleted: false,
	},
	{
		sort: { lastPost: -1 },
		page: currentPage,
		limit: 100,
	}
);
const threads = threadsTmp.map(t => t.toObject());

const categoriesTmp = await ForumCategory.find({ parent: category.id });
const categories = categoriesTmp.map(c => c.toObject());

const previewThreadsFuckyThing = await Promise.all(
	categories.map(cat =>
		ForumThread.find({ category: cat.id, deleted: false, pinned: false })
			.sort({ when: -1 })
			.limit(1)
	)
);

const previewThreads = previewThreadsFuckyThing.map(t =>
	t.length > 0 ? t[0].toObject() : null
);

const authorIDsArray = [];
[...threads, ...previewThreads, ...pinnedThreads].forEach(thread => {
	if (!authorIDsArray.includes(thread?.author))
		authorIDsArray.push(thread?.author);
});

const authorsArray = await User.find({ id: { $in: authorIDsArray } });
const authors = {};
authorsArray.forEach(author => {
	authors[author.id] = author.toJSON();
});
---

<Layout title={category.name + " - galaxy forums"}>
	<main id="main">
		<div class="category-category">
			{
				parent !== false ? (
					<a href={`/forum/category/${parent.slug}`}>
						back to {parent.name}
					</a>
				) : (
					category.id !== false && <a href="/forum">back to top</a>
				)
			}
		</div>
		<h1 class="category-title">
			{category.name}{
				category.id !== false && (
					<>
						{" "}
						<span class="unimportant">#{category.slug}</span>
					</>
				)
			}
		</h1>
		{
			((Astro.locals.auth.loggedIn && category.locked === false) ||
				staffLevel > 0) &&
				category.id !== false && (
					<a href={"/forum/compose/" + category.slug} class="button">
						new thread
					</a>
				)
		}
		{
			staffLevel > 0 && (
				<a href={"/forum/mod/" + category.slug} class="button">
					configure
				</a>
			)
		}
		<CategoryViewer
			slug={category.id}
			threads={currentPage === 1
				? [...pinnedThreads, ...threads]
				: threads}
			categories={categories}
			users={authors}
			previewThreads={previewThreads}
			client:load
		/>

		<Pagination
			pages={pages}
			currentPage={currentPage}
			client:only="svelte"
		/>
	</main>
</Layout>

<style>
	.category-category {
		margin-top: 2em;
	}

	.category-title {
		display: block;
		font-size: 2em;
		word-wrap: break-word;
	}

	.category-category ~ .category-title {
		margin-top: 0;
	}
</style>
