<script lang="ts">
	import type { IForumCategory, IForumThread, IUser } from "~/types";
	import CategoryCard from "./CategoryCard.svelte";
	import ThreadCard from "./ThreadCard.svelte";

	export let slug: string | false;
	export let threads: IForumThread[];
	export let categories: IForumCategory[];
	export let previewThreads: (IForumThread | null)[];
	export let users: { [id: number]: IUser };
</script>

{#if categories.length > 0}
	{#if slug !== false}<h2>sub-forums</h2>{/if}
	<div class="category-list">
		{#each categories as category, i}
			<CategoryCard
				{category}
				user={users[previewThreads[i]?.author]}
				thread={previewThreads[i]}
			/>
		{/each}
	</div>
{/if}
<hr />
{#if threads.length > 0}
	<div class="thread-list">
		{#each threads as thread}
			<ThreadCard {thread} user={users[thread.author]} />
			<!-- {:else}
			<p class="unimportant">no threads</p> -->
		{/each}
	</div>
{/if}

<style>
	.thread-list,
	.category-list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 10px;
	}

	hr {
		border: none;
		background: var(--color-3);
		height: 2px;
		margin: 20px 10px;
	}

	hr:first-child,
	hr:last-child,
	hr + hr {
		display: none;
	}
</style>
