<script lang="ts">
	import type {
		FrontendForumPost,
		IForumCategory,
		IForumThread,
		IGame,
		IUser,
	} from "~/types";
	import { convertFormat, post, promptLogin, report } from "~/libgalaxy";
	import DateTime from "../DateTime.svelte";
	import Dropdown from "../Dropdown.svelte";
	import Icon from "@iconify/svelte";
	import MarkdownEditor from "../MarkdownEditor.svelte";
	import UserChip from "../UserChip.svelte";
	import { forumPost } from "~/helper/markdown";

	export let posts: FrontendForumPost[];
	export let thread: IForumThread;
	export let category: IForumCategory;
	export let users: { [id: number]: IUser };
	export let user: IUser | null;
	export let level: number;
	export let solution: FrontendForumPost | null;
	export let linkedGame: IGame | null;
	export let page: number;

	let composing = "";
	let currentEditor = -1;
	let composingEdit = "";
	let shownReactions = -1;

	async function reply() {
		const { message } = await post("/api/forum/reply", {
			thread: thread.id,
			body: composing,
		});
		if (message === "ok") location.reload();
	}

	function openEditor(post: number) {
		currentEditor = post;
		composingEdit = posts.find(p => p.id === post)?.body ?? "";
	}

	async function submitEdit() {
		const { message } = await post("/api/forum/editPost", {
			post: currentEditor,
			body: composingEdit,
		});
		if (message === "ok") location.reload();
	}

	async function deletePost(postId: number) {
		const { message } = await post("/api/forum/deletePost", {
			post: postId,
		});
		if (message === "ok")
			posts = posts.map(post => {
				if (post.id !== postId) return post;
				post.deleted = true;
				return post;
			});
	}

	function openReactions(post: number) {
		if (shownReactions === post) shownReactions = -1;
		else shownReactions = post;
	}

	async function toggleReaction(emoji: number, postId: number) {
		if (user === null) return promptLogin();

		const out = await post("/api/forum/reactPost", {
			post: postId,
			emoji,
		});

		if (out.message === "ok") {
			if (shownReactions === postId) shownReactions = -1;
			const pIdx = posts.findIndex(p => p.id === postId);
			if (out.enabled === true) {
				posts[pIdx].selfReactions.push(emoji);
			} else {
				posts[pIdx].selfReactions = posts[pIdx].selfReactions.filter(
					e => e !== emoji
				);
			}
			posts[pIdx].reactions[emoji] = out.count;
		}
	}

	async function lockThread() {
		const res = await post("/api/forum/lockThread", thread.id);
		if (res.message === "ok") location.reload();
	}

	async function pinThread() {
		const res = await post("/api/forum/pinThread", thread.id);
		if (res.message === "ok") location.reload();
	}

	async function solvePost(postId: number) {
		const res = await post("/api/forum/markCorrect", postId);
		if (res.message === "ok") location.reload();
	}

	async function deleteThread() {
		const res = await post("/api/forum/deleteThread", thread.id);
		if (res.message === "ok")
			location.pathname = `/forum/category/${category.slug}`;
	}

	function quotePost(post: FrontendForumPost) {
		if (composing !== "") composing += "\n";
		composing += `**${users[post.author].name}** says:\n`;
		composing += post.body
			.split("\n")
			.map(s => `> ${s}`)
			.join("\n");
		composing += "\n";
	}

	const emojis = ["👍", "👎", "❤", "😄", "🤔", "🎉", "😕"];
</script>

<article>
	<div class="thread-category">
		in <a href="/forum/category/{category.slug}">{category.name}</a>
	</div>
	<h1 class="thread-title">
		{thread.name}

		{#if user !== null}
			<Dropdown>
				{#if level >= 1}
					<button on:click={pinThread}>
						{thread.pinned === true ? "un" : ""}pin thread
					</button>
					<button on:click={lockThread}>
						{thread.locked === true ? "un" : ""}lock thread
					</button>
				{/if}
				<button class="red" on:click={() => report("thread", thread)}>
					report thread
				</button>
				{#if level >= 1}
					<button on:click={deleteThread} class="red">
						delete thread
					</button>
				{/if}
			</Dropdown>
		{/if}
	</h1>
	{#if linkedGame !== null}
		<p>
			this thread is linked to the game
			<a href="/play/{linkedGame.id}">{linkedGame.name}</a>
		</p>
	{/if}
	<div class="post-list">
		{#each posts as post, i}
			<article class="post">
				<a class="button post-icon" href="/user/{post.author}">
					<img
						alt={users[post.author].name}
						src={convertFormat(
							"/pfp/large/",
							post.author,
							users[post.author].pfpTimestamp
						)}
					/>
				</a>
				<div class="post-info">
					<div class="post-meta">
						<UserChip user={users[post.author]} />
						<hr class="full-width-sep" />
						<hr class="full-width-sep" />
						{#if thread.solution === post.id}
							<span class="one-line solution">solution</span>
						{/if}
						<span class="one-line">
							{#if post.edits.length > 0}
								<span class="unimportant">edited</span>
							{/if}
							<DateTime
								date={post.when ?? new Date()}
								style="date"
							/>
						</span>
						{#if user !== null && !post.deleted}
							<Dropdown openLeft>
								<button on:click={() => quotePost(post)}>
									quote post
								</button>
								{#if post.author == user.id || level >= 1}
									<button
										on:click={() => openEditor(post.id)}
									>
										edit post
									</button>
								{/if}
								{#if thread.author == user.id || level >= 1}
									<button on:click={() => solvePost(post.id)}>
										mark as solution
									</button>
								{/if}
								<button
									class="red"
									on:click={() => report("post", post)}
								>
									report post
								</button>
								{#if post.author == user.id || level >= 1}
									<button
										class="red"
										on:click={() => deletePost(post.id)}
									>
										delete post
									</button>
								{/if}
							</Dropdown>
						{/if}
					</div>
					{#if currentEditor !== post.id}
						<div
							class="post-content"
							class:solution={post.id === thread.solution}
						>
							<div class="post-body">
								{#if post.deleted === true}
									<span class="unimportant"
										>[this post was deleted]</span
									>
								{:else}
									{@html forumPost.render(post.body)}
								{/if}
							</div>
						</div>
						<div class="reactions">
							{#each emojis as emoji, i}
								{#if post.reactions[i] > 0 || shownReactions === post.id}
									<button
										class="emoji"
										class:active={post.selfReactions.includes(
											i
										)}
										disabled={post.deleted}
										on:click={() =>
											toggleReaction(i, post.id)}
										>{emoji} {post.reactions[i]}</button
									>
								{/if}
							{/each}
							{#if post.deleted === false && user !== null}
								<button
									class="add emoji"
									on:click={() => openReactions(post.id)}
								>
									<Icon
										icon={shownReactions === post.id
											? "material-symbols:add-reaction"
											: "material-symbols:add-reaction-outline"}
									/>
								</button>
							{/if}
						</div>
					{:else}
						<div class="post-composer">
							<MarkdownEditor
								maxlength={16384}
								options={forumPost}
								background="var(--background-2)"
								placeholder="change your mind..."
								bind:value={composingEdit}
							/>
							<div>
								<button on:click={submitEdit}>edit</button>
								<button on:click={() => openEditor(-1)}
									>cancel</button
								>
							</div>
						</div>
					{/if}
				</div>
			</article>
			{#if i === 0 && page === 1 && solution !== null}
				<div class="container solution">
					<h2>this thread has a solution!</h2>
					<UserChip user={users[solution.author]} /> says:<br />
					{@html forumPost.render(solution.body)}
				</div>
			{/if}
		{/each}
		{#if user === null}
			<div class="container">
				<p class="no-account-post">
					<button on:click={promptLogin}>log in</button>
					or <a href="/signup" class="button">sign up</a> to leave a post.
				</p>
			</div>
		{:else}
			<div class="post add-post">
				<div class="button post-icon">
					<img
						alt={user.name}
						src={convertFormat(
							"/pfp/large/",
							user.id,
							user.pfpTimestamp
						)}
					/>
				</div>
				<div class="post-composer">
					{#if thread.locked}
						<div class="post-content">
							<div class="unimportant">
								this post is locked, no new replies can be made.
							</div>
						</div>
					{:else}
						<MarkdownEditor
							maxlength={16384}
							options={forumPost}
							background="var(--background-2)"
							placeholder="what do you think?"
							bind:value={composing}
						/>
						<div>
							<button on:click={reply}>reply</button>
							{#if level >= 1}
								<button on:click={lockThread}
									>{thread.locked === true ? "un" : ""}lock
									thread</button
								>
							{/if}
						</div>
					{/if}
				</div>
			</div>
		{/if}
	</div>
</article>

<style>
	.thread-category {
		margin-top: 2em;
	}

	.thread-title {
		font-size: 2em;
		margin-top: 0;
		word-wrap: break-word;
	}

	.post-list {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.post {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}
	.post a.button {
		margin: 0;
		border-radius: 5px;
	}

	.post-meta {
		display: flex;
		gap: 5px;
	}

	.post-icon {
		display: block;
		width: 128px;
		height: 128px;
		flex-shrink: 0;
		padding: 0;
	}

	.post-info {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 5px;
		max-width: calc(100% - 133px);
	}

	.post-content {
		display: flex;
		flex-direction: column;
		width: auto;
		height: auto;
		padding: 8px 12px;
		line-height: initial;
		background: var(--background-2);
		border-radius: 5px;
		box-shadow: 0 0 5px #0007;
		min-height: calc(100% - 94px);
	}

	.post-body {
		word-wrap: break-word;
		overflow-x: auto;
	}

	.post-content :global(p:first-child) {
		margin-top: 0;
	}

	.post-content :global(p:last-child) {
		margin-bottom: 0;
	}

	.post-icon img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	.post-info :global(:is(.user-chip, .dropdown > button)) {
		margin: 0;
		vertical-align: initial !important;
	}

	.post-info :global(.user-chip .profile-pic) {
		display: none;
	}

	.post-info :global(.user-chip .profile-pic) {
		display: none;
	}

	.post-composer {
		flex-grow: 1;
	}

	.post-composer :global(.markdown-editor textarea) {
		border-radius: 5px;
		box-shadow: 0 0 5px #0007;
	}

	.post-composer .post-info button {
		margin-top: -2px;
	}

	@media screen and (max-width: 720px) {
		.post-icon {
			display: none;
		}

		.post-info {
			max-width: 100%;
		}

		.post-info :global(.user-chip .profile-pic) {
			display: inline;
		}
		.post-info :global(.user-chip) {
			margin: 0;
			vertical-align: -8px !important;
		}
	}

	.emoji {
		font-family: "Inter", "Apple Color Emoji", "Noto Color Emoji";
		font-size: 16px;
		margin: 0;
		text-decoration: none !important;
	}

	.emoji.active {
		color: var(--color-active-0);
		background: var(--background-active-5);
	}

	.reactions {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}

	.emoji.add :global(svg) {
		vertical-align: middle -0.4em;
	}

	.one-line {
		padding: 0 12px;
		display: inline-block;
		height: 26px;
		line-height: 26px;
		font-size: 14px;
		background: var(--background-2);
		box-shadow: 1px 0 5px #0007;
		border-radius: 3px;
	}

	.red {
		color: var(--color-red-1);
	}

	.solution {
		color: var(--color-green-1);
		background: var(--background-green-0);
	}

	.no-account-post {
		text-align: center;
	}
</style>
