<script lang="ts">
	import type { IForumCategory, IUser } from "~/types";
	import { convertFormat, post } from "~/libgalaxy";
	import MarkdownEditor from "../MarkdownEditor.svelte";
	import { forumPost } from "~/helper/markdown";

	export let category: IForumCategory;
	export let user: IUser;

	let composing = "";
	let title = "";

	async function createThread() {
		const req = await post("/api/forum/newThread", {
			category: category.id,
			title,
			body: composing,
		});
		if (typeof req.thread === "number") {
			window.location.pathname = `/forum/thread/${req.thread}`;
		}
	}
</script>

<div>
	<h1>
		creating a thread in {category.name}
	</h1>
	<div class="post">
		<div class="button post-icon">
			<img
				alt={user.name}
				src={convertFormat("/pfp/large/", user.id, user.pfpTimestamp)}
			/>
		</div>
		<div class="post-composer">
			<input
				id="input-title"
				type="text"
				placeholder="post title"
				bind:value={title}
			/>
			<MarkdownEditor
				bind:value={composing}
				options={forumPost}
				maxlength={16384}
				placeholder="what's on your mind?"
				background="var(--background-2)"
			/>
			<div>
				<button on:click={createThread}>create thread</button>
			</div>
		</div>
	</div>
</div>

<style>
	#input-title {
		background: var(--background-2);
		width: 100%;
		box-sizing: border-box;
		font-size: 2em;
		font-family: var(--header-font);
		font-weight: bold;
		height: 48px;
	}

	.post {
		display: flex;
		flex-direction: row;
		gap: 5px;
	}

	.post-icon {
		display: block;
		width: 128px;
		height: 128px;
		padding: 0;
		background: var(background-3);
	}

	.post-icon img {
		width: 100%;
		height: 100%;
		border-radius: 5px;
	}

	.post-composer {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.post-composer button {
		margin: -2px 0 0 0;
	}
</style>
