---
import { monthUnder13, months } from "~/helper/coppa";
import Form from "~/components/Form.astro";
import Layout from "~/layouts/Layout.astro";
import { UserAuth } from "~/models/userauth";

const { user } = Astro.locals.auth;

const userAuth = await UserAuth.findOne({ id: user?.id });

if (
	user === undefined ||
	userAuth.birthYear !== undefined ||
	userAuth.parentState !== 0
)
	return Astro.redirect("/");

const currentYear = new Date().getFullYear();

const birthInfo: [number, number] = Astro.cookies.has("birth-info")
	? (Astro.cookies
			.get("birth-info")
			.value.split(",")
			.map(n => parseInt(n, 10)) as [number, number])
	: [-1, -1];
---

<Layout title="compliance - galaxy">
	<main id="main">
		<div id="birthday" data-action="/api/users/setBirthday">
			<h1>compliance</h1>
			<Form>
				<div>
					<p>
						to help us comply with laws in the United States of
						America where galaxy is hosted, we need to collect a
						little more information about you. Please provide your
						birth year below.<br />
						don't worry--this information will not be shared publicly.<br
						/>
						if you are running into issues with this form, please send
						an email to support [at] galaxy [dot] click.
					</p>
				</div>
				<div data-label="birth year">
					<select
						id="year-select"
						name="year"
						disabled={birthInfo[0] !== -1}
						class="button"
					>
						{
							new Array(120).fill(0).map((_, i) => (
								<option
									value={currentYear - i}
									selected={birthInfo[0] === currentYear - i}
								>
									{currentYear - i}
								</option>
							))
						}
					</select>
				</div>
				<div
					id="month-select-wrapper"
					data-label="birth month"
					style={monthUnder13(...birthInfo) ? "" : "display: none"}
				>
					<select
						id="month-select"
						name="month"
						class="button"
						disabled={birthInfo[1] !== -1}
					>
						{
							months.map((month, i) => (
								<option value={i} selected={birthInfo[1] === i}>
									{month.toLocaleLowerCase()}
								</option>
							))
						}
					</select>
				</div>
				<div
					id="parent-email-wrapper"
					data-label="parent/guardian's email"
					style={monthUnder13(...birthInfo) ? "" : "display: none"}
				>
					<input
						type="text"
						id="email"
						name="email"
						placeholder="for legal reasons!"
					/>
				</div>
				<hr />
				<div data-label="let's go">
					<button id="enter-button" type="submit" role="button">
						confirm
					</button>
				</div>
			</Form>
		</div>
	</main>
</Layout>
<script>
	import { alert, formCore } from "~/libgalaxy";
	import { monthUnder13 } from "~/helper/coppa";

	const [_form, submit] = formCore(
		"birthday",
		["year", "month", "email"],
		res => {
			if (res._resCode !== 200) return;
			alert.success("Thank you!");
			if (res.underage) {
				window.location.href = "/coppa/parent";
			} else {
				window.location.href = "/";
			}
		}
	);

	document.getElementById("enter-button").addEventListener("click", e => {
		const year = parseInt(
			(document.getElementById("year-select") as HTMLSelectElement).value,
			10
		);
		const month = parseInt(
			(document.getElementById("month-select") as HTMLSelectElement)
				.value,
			10
		);

		document.cookie = `birth-info=${year},${month}; Secure; Path=/; max-age=${60 * 60 * 24 * 365 * 2}`;

		const parentWrapper = document.getElementById("parent-email-wrapper");
		if (
			monthUnder13(year, month) &&
			parentWrapper.style.display === "none"
		) {
			parentWrapper.style.display = "flex";
		} else {
			submit();
		}
	});

	(
		document.getElementById("year-select") as HTMLSelectElement
	).addEventListener("change", e => {
		const year = parseInt((e.target as HTMLSelectElement).value, 10);
		const currentYear = new Date().getFullYear();
		if (currentYear - year <= 13) {
			document.getElementById("month-select-wrapper").style.display =
				"flex";
		} else {
			document.getElementById("month-select-wrapper").style.display =
				"none";
		}
	});
</script>
