<script lang="ts">
	import Icon from "@iconify/svelte";
	import { formatPlaytime } from "~/helper/format";
	import { json } from "~/libgalaxy";
	import { onMount } from "svelte";

	export let game: number;

	let data = null;

	let retentionNum = 30;
	let retentionMult = 1;
	$: retentionMins = retentionNum * retentionMult;

	function toggleRetUnit() {
		if (retentionMult === 1) retentionMult = 60;
		else retentionMult = 1;
		refetchRetention();
	}

	async function refetchRetention() {
		// sanitize retentionNum
		if ((retentionNum as unknown) === "") return;
		retentionNum = parseInt(retentionNum.toString());
		if (isNaN(retentionNum)) retentionNum = 1;

		// actual request
		const mins = retentionNum * retentionMult;
		const { users } = await json(
			`/api/games/retention?id=${game}&mins=${mins}`
		);
		// data.retention[mins] = ((users / data.uniquePlayers) * 100).toFixed(1);
		data.retention[mins] = users;
	}

	onMount(async () => {
		const { data: dataRes } = await json(
			`/api/games/statistics?id=${game}`
		);
		data = dataRes;
		data.ratingCounts.reverse();
	});
</script>

{#if data}
	<h2>aggregate</h2>
	<div class="side-by-side">
		<div class="big-stat">
			<div>
				<Icon icon="material-symbols:joystick" />
				<span>
					{data.game.plays?.toLocaleString("en-US")}
				</span>
			</div>
			<span class="unimportant">play sessions</span>
		</div>
		<div class="big-stat">
			<div>
				<Icon icon="material-symbols:timer" />
				<span>
					{formatPlaytime(data.game.playMinutes)}
				</span>
			</div>
			<span class="unimportant">play-hours</span>
		</div>
		<div class="big-stat">
			<div>
				<Icon icon="ic:baseline-group" />
				<span>
					{data.uniquePlayers.toLocaleString()}
				</span>
			</div>
			<span class="unimportant">unique players</span>
		</div>
	</div>
	<br />
	<h2>rating</h2>
	<div id="rating-grid">
		<div id="rating-big">
			<div id="rating-stars">
				<Icon
					icon="material-symbols:star-outline"
					class="unimportant"
				/><Icon
					icon="material-symbols:star-outline"
					class="unimportant"
				/><Icon
					icon="material-symbols:star-outline"
					class="unimportant"
				/><Icon
					icon="material-symbols:star-outline"
					class="unimportant"
				/><Icon
					icon="material-symbols:star-outline"
					class="unimportant"
				/>
				<div
					id="rating-star-fill"
					style="--width: {data.game.ratingAvg / 5}"
				>
					<Icon icon="material-symbols:star" /><Icon
						icon="material-symbols:star"
					/><Icon icon="material-symbols:star" /><Icon
						icon="material-symbols:star"
					/><Icon icon="material-symbols:star" />
				</div>
			</div>
			{data.game.ratingAvg?.toFixed(2)}<span
				class="unimportant"
				style="font-size: 50%">&nbsp;/ 5</span
			>
		</div>
		{#each data.ratingCounts as count, idx}
			<div class="rating-small">
				<div
					class="rating-graphish star-{5 - idx} tnum"
					style="--width: {count / Math.max(...data.ratingCounts, 1)}"
				>
					<Icon icon="material-symbols:star" inline />{5 - idx}
				</div>
				<span>{count}</span>
			</div>
		{/each}
	</div>
	<p class="unimportant">
		sort rating is <strong>{data.game.sortRating?.toFixed(2)}</strong>. view
		disclaimers at bottom of page for more info
	</p>
	<br />
	<h2>retention</h2>
	<div class="big-stat">
		<div>
			<span>
				{data.retention[retentionMins] !== undefined
					? (
							(data.retention[retentionMins] /
								data.uniquePlayers) *
							100
						).toFixed(1)
					: "…"}%
			</span>
		</div>
		<span>
			of users stay for
			<input
				id="retention-num"
				bind:value={retentionNum}
				on:input={refetchRetention}
			/>
			<button on:click={toggleRetUnit}>
				{retentionMult === 1 ? "minutes" : "hours"}
			</button>
		</span>
	</div>
{:else}
	loading analytics...
{/if}

<!-- <p>{JSON.stringify(data)}</p> -->
<p class="unimportant">
	<b>sort ratings:</b> to prevent games with few ratings from reaching the top
	of sorts, when the site sorts games by rating, the order is calculated based
	on the game's rating with an extra 1-star and 5-star rating each.

	<br /><br />

	<b>retention:</b> is based on all the playtime users have on a game, not individual
	play sessions. playtime tracking on galaxy is somewhat convoluted, and as a result
	the percentage here might be smaller than actual retention rate. however, rates
	should still be consistent between games.
</p>

<style>
	#rating-grid {
		display: grid;
		width: 100%;
		padding-block: 10px;
		grid-template-columns: max(275px, 25vw) 1fr;
		--rating-row-height: 23px;
		grid-template-rows: repeat(5, var(--rating-row-height));
	}

	#rating-big {
		grid-area: 1 / 1 / span 5 / 1;
		font-size: 64px;
		font-weight: 700;
		line-height: 1.1;
	}

	.rating-small {
		line-height: var(--rating-row-height);
		display: flex;
		gap: 5px;
		align-items: center;
	}

	#rating-stars {
		font-size: 49px;
		width: fit-content;
		position: relative;
		line-height: 0.8;
	}
	#rating-star-fill {
		position: absolute;
		inset: 0 auto auto 0;
		width: calc(100% * var(--width));
		white-space: nowrap;
		overflow: hidden;
	}

	.rating-small > * {
		flex-shrink: 0;
		line-height: 1.1;
	}

	.rating-graphish {
		height: calc(var(--rating-row-height) - 6px);
		width: calc(calc(100% - 100px) * var(--width) + 25px);
		background: var(--color-3);
		color: var(--background-0);
		padding: 0px 8px;
		border-radius: 8px;
		display: inline-flex;
		align-items: center;
	}

	.star-5 {
		background: var(--color-0);
	}
	.star-4 {
		background: var(--color-1);
	}
	.star-3 {
		background: var(--color-2);
	}
	.star-2 {
		background: var(--color-3);
	}
	.star-1 {
		background: var(--color-4);
	}

	.big-stat {
		display: flex;
		flex-direction: column;
	}

	.big-stat div {
		font-size: 64px;
		line-height: 100px;
		display: flex;
		align-items: center;
		font-weight: 700;
	}

	.big-stat .unimportant {
		font-family: var(--header-font);
	}

	.side-by-side {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	#retention-num {
		width: 50px;
	}

	.tnum {
		font-variant-numeric: tabular-nums;
	}

	@media screen and (max-width: 1050px) {
		.side-by-side {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		.big-stat div {
			line-height: 80px;
		}

		#rating-grid {
			padding-block: 0px;
		}

		#rating-big {
			grid-area: 1 / 1 / 1 / 1;
			padding-bottom: 10px;
		}

		#rating-grid {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr repeat(5, var(--rating-row-height));
		}
	}
</style>
