<script lang="ts">
	import { type AdminOps, hasStaffPerm } from "~/helper/adminHelper";
	import { post } from "~/libgalaxy";

	import type { IUser } from "~/types";

	import AdminHousekeeping from "./admin/panels/Housekeeping.svelte";
	import AdminReports from "./admin/panels/Reports.svelte";
	import AdminVerification from "./admin/panels/Verification.svelte";

	import AdminHandbook from "./admin/panels/Handbook.svelte";
	import AdminLockdown from "./admin/panels/Lockdown.svelte";
	import AdminQuery from "./admin/panels/QueryThings.svelte";

	import AdminAuditLogFeed from "./admin/panels/AuditLogFeed.svelte";
	import AdminChatFeed from "./admin/panels/ChatFeed.svelte";
	import AdminCommentFeed from "./admin/panels/CommentFeed.svelte";
	import AdminGameFeed from "./admin/panels/GameFeed.svelte";
	import AdminPostFeed from "./admin/panels/PostFeed.svelte";
	import AdminThreadFeed from "./admin/panels/ThreadFeed.svelte";
	import AdminUserFeed from "./admin/panels/UserFeed.svelte";

	import ModalAuditLog from "./admin/modals/AuditLog.svelte";
	import ModalChat from "./admin/modals/Chat.svelte";
	import ModalChatMessage from "./admin/modals/ChatMessage.svelte";
	import ModalComment from "./admin/modals/Comment.svelte";
	import ModalGame from "./admin/modals/Game.svelte";
	import ModalMessage from "./admin/modals/Message.svelte";
	import ModalPost from "./admin/modals/Post.svelte";
	import ModalReport from "./admin/modals/Report.svelte";
	import ModalThread from "./admin/modals/Thread.svelte";
	import ModalUser from "./admin/modals/User.svelte";
	import ModalVerification from "./admin/modals/Verification.svelte";

	import Icon from "@iconify/svelte";

	// TODO test every single route
	// users
	///   wipe bio
	///   purge pfp
	//   ban
	//   mute
	//   purge games
	//   purge comments
	//   nuke
	//   hardnuke
	// games
	//   wipe desc/name
	//   purge thumb
	//   purge updates
	//   purge comments
	//   purge ratings
	//   purge favorites
	//   nuke
	// oshit
	//   lock comments
	//   lock games
	//   lock chat
	//   lock updates
	//   lock users
	//   lock feedback
	//   lock inbox
	//   lock inbox
	//   Everything
	//   Un-everything

	export let self: IUser;

	// eslint-disable-next-line @typescript-eslint/no-explicit-any
	type Modal = { type: string; data: any; id: number };

	let currentTab: string = "housekeeping";
	let sidebarCollapsed = false;
	let modals: Modal[] = [];
	let modalsHidden = false;

	let commentFeedPage: AdminCommentFeed;
	let threadFeedPage: AdminThreadFeed;
	let postFeedPage: AdminPostFeed;

	// data could be expanded to different types later if needed
	function setTab(
		tab: string,
		data?: number | false,
		data2?: number | false
	) {
		currentTab = tab;

		if (tab === "comment-feed" && data !== undefined)
			setTimeout(() => commentFeedPage.setUser(data), 1);
		if (tab === "thread-feed" && data !== undefined)
			setTimeout(() => threadFeedPage.setUser(data), 1);
		if (tab === "post-feed" && data !== undefined)
			setTimeout(() => {
				// TODO This is so fucked up
				postFeedPage.setUser(data);
				if (data2 !== undefined)
					setTimeout(() => postFeedPage.setThread(data2), 1);
			}, 1);
	}

	const users: Record<number, IUser> = {};
	let missingUsers: number[] = [];

	let fetchUserTimeout: number | null = null;

	async function fetchUsers() {
		fetchUserTimeout = null;
		const targetUsers = [...missingUsers];
		const list = (
			await post("/api/admin/idsToUsers", { users: targetUsers })
		).result;
		// console.log(list);
		for (const item of list) {
			users[item.id] = item;
		}
		missingUsers = [];
		adminOps.counter++;
	}

	const adminOps: AdminOps = {
		counter: 0,
		pushUsers(list: IUser[]) {
			for (const user of list) {
				users[user.id] = user;
			}
		},
		getUser(id: number): IUser | string | null {
			if (users[id] !== undefined) return users[id];
			missingUsers.push(id);
			if (fetchUserTimeout === null)
				fetchUserTimeout = setTimeout(
					() => fetchUsers(),
					1
				) as unknown as number;
			return "loading...";
		},
		addModal(type: string, data: unknown) {
			modals.push({ type, data, id: Math.random() });
			modals = modals;
			setTimeout(() => adminOps.counter++, 1);
		},
		setTab,
		self,
	};

	function closeModal(modal: Modal) {
		const index = modals.findIndex(x => x.id == modal.id);
		modals.splice(index, 1);
		modals = modals;
		setTimeout(() => adminOps.counter++, 1);
	}

	function closeAllModals() {
		modals.splice(0);
		setTimeout(() => adminOps.counter++, 1);
		modalsHidden = false;
	}
</script>

<svelte:document on:keydown={e => e.key == "Escape" && closeAllModals()} />

<div id="admin-pane">
	{#if !sidebarCollapsed}
		<div class="ap-tabs">
			<h2>the admin panel</h2>
			<details open>
				<summary>
					<button
						class="toolbar-button"
						disabled={currentTab == "housekeeping"}
						on:click={() => setTab("housekeeping")}
						>housekeeping</button
					>
				</summary>
				<button
					class="toolbar-button"
					disabled={currentTab == "verification"}
					on:click={() => setTab("verification")}
					>game verification</button
				>
				{#if hasStaffPerm(self.modLevel, "mod")}
					<button
						class="toolbar-button"
						disabled={currentTab == "reports"}
						on:click={() => setTab("reports")}>reports</button
					>
				{/if}
			</details>
			<details open>
				<summary>
					<button
						class="toolbar-button"
						disabled={currentTab == "query"}
						on:click={() => setTab("query")}>query</button
					>
				</summary>
				<button
					class="toolbar-button"
					disabled={currentTab == "user-feed"}
					on:click={() => setTab("user-feed")}>users</button
				>
				<button
					class="toolbar-button"
					disabled={currentTab == "game-feed"}
					on:click={() => setTab("game-feed")}>games</button
				>
				{#if hasStaffPerm(self.modLevel, "mod")}
					<button
						class="toolbar-button"
						disabled={currentTab == "comment-feed"}
						on:click={() => setTab("comment-feed")}>comments</button
					>
					<button
						class="toolbar-button"
						disabled={currentTab == "thread-feed"}
						on:click={() => setTab("thread-feed")}>threads</button
					>
					<button
						class="toolbar-button"
						disabled={currentTab == "post-feed"}
						on:click={() => setTab("post-feed")}>posts</button
					>
					<button
						class="toolbar-button"
						disabled={currentTab == "chat-feed"}
						on:click={() => setTab("chat-feed")}>chat</button
					>
				{/if}
			</details>
			{#if hasStaffPerm(self.modLevel, "admin")}
				<button
					class="toolbar-button"
					disabled={currentTab == "lockdown"}
					on:click={() => setTab("lockdown")}>lockdown</button
				>
			{/if}
			<button
				class="toolbar-button"
				disabled={currentTab == "audit-log"}
				on:click={() => setTab("audit-log")}>audit log</button
			>
			<button
				class="toolbar-button"
				disabled={currentTab == "handbook"}
				on:click={() => setTab("handbook")}>handbook</button
			>
			<button
				id="collapse-sidebar"
				class="toolbar-button"
				on:click={() => (sidebarCollapsed = true)}
			>
				collapse sidebar
			</button>
		</div>
	{/if}
	<div class="ap-content">
		{#if currentTab == "housekeeping"}
			<AdminHousekeeping {adminOps} />
		{:else if currentTab == "verification"}
			<AdminVerification {adminOps} />
		{:else if currentTab == "reports"}
			<AdminReports {adminOps} />
		{:else if currentTab == "query"}
			<AdminQuery {adminOps} />
		{:else if currentTab == "user-feed"}
			<AdminUserFeed {adminOps} />
		{:else if currentTab == "game-feed"}
			<AdminGameFeed {adminOps} />
		{:else if currentTab == "comment-feed"}
			<AdminCommentFeed {adminOps} bind:this={commentFeedPage} />
		{:else if currentTab == "thread-feed"}
			<AdminThreadFeed {adminOps} bind:this={threadFeedPage} />
		{:else if currentTab == "post-feed"}
			<AdminPostFeed {adminOps} bind:this={postFeedPage} />
		{:else if currentTab == "chat-feed"}
			<AdminChatFeed {adminOps} />
		{:else if currentTab == "lockdown"}
			<AdminLockdown />
		{:else if currentTab == "audit-log"}
			<AdminAuditLogFeed {adminOps} />
		{:else if currentTab == "handbook"}
			<AdminHandbook />
		{/if}
	</div>
	{#if modals.length >= 1 && !modalsHidden}
		<div class="ap-modals">
			{#each modals as modal}
				<div
					class="ap-modal"
					class:is-historical={modal.data.isHistorical}
				>
					<button
						class="close-button icon-button toolbar-button"
						on:click={() => closeModal(modal)}
					>
						<Icon
							width={21}
							icon="ic:baseline-close"
							style="vertical-align: -.25em"
						/>
					</button>
					{#if modal.type == "verification"}
						<ModalVerification {adminOps} data={modal.data} />
					{:else if modal.type == "report"}
						<ModalReport {adminOps} data={modal.data} />
					{:else if modal.type == "user"}
						<ModalUser {adminOps} data={modal.data} />
					{:else if modal.type == "game"}
						<ModalGame {adminOps} data={modal.data} />
					{:else if modal.type == "thread"}
						<ModalThread {adminOps} data={modal.data} />
					{:else if modal.type == "post"}
						<ModalPost {adminOps} data={modal.data} />
					{:else if modal.type == "comment"}
						<ModalComment {adminOps} data={modal.data} />
					{:else if modal.type == "message"}
						<ModalMessage {adminOps} data={modal.data} />
					{:else if modal.type == "auditlog"}
						<ModalAuditLog {adminOps} data={modal.data} />
					{:else if modal.type == "chat"}
						<ModalChat {adminOps} data={modal.data} />
					{:else if modal.type == "chatmessage"}
						<ModalChatMessage {adminOps} data={modal.data} />
					{/if}
				</div>
			{/each}
			<div id="modals-actions">
				<button
					class="modals-action-button icon-button"
					on:click={() => (modalsHidden = true)}
				>
					<Icon
						width={21}
						icon="mdi:hide"
						style="vertical-align: -.25em"
					/>
				</button>
				<button
					class="modals-action-button icon-button"
					on:click={closeAllModals}
				>
					<Icon
						width={21}
						icon="ic:baseline-close"
						style="vertical-align: -.25em"
					/>
				</button>
			</div>
		</div>
	{/if}
	{#if modalsHidden}
		<button id="hidden-modals-fab" on:click={() => (modalsHidden = false)}>
			{modals.length} modal{modals.length === 1 ? "" : "s"} hidden
		</button>
	{/if}
	{#if sidebarCollapsed}
		<button id="collapsed-sidebar-fab" on:click={() => (sidebarCollapsed = false)}>
			show sidebar
		</button>
	{/if}
</div>

<style>
	#admin-pane {
		position: absolute;
		inset: 48px 0 0 0;
		display: flex;
		overflow: hidden;
	}
	.ap-tabs {
		flex: 0 0 240px;
		padding: 20px;
		box-sizing: border-box;
		background: var(--background-2);
	}
	.ap-tabs h2 {
		margin-top: 0;
	}
	.ap-tabs details {
		padding-left: 10px;
	}
	.ap-tabs summary {
		margin-left: -10px;
		position: relative;
		display: flex;
	}
	.ap-tabs summary::marker {
		content: "";
	}
	.ap-tabs summary::after {
		content: "◄";
		display: flex;
		align-items: center;
		justify-content: center;
		top: 0px;
		right: 0;
		height: 26px;
		aspect-ratio: 1;
		cursor: default;
		border-radius: 3px;
		margin-top: 2px;
	}
	.ap-tabs summary:hover::after {
		background: var(--background-active-5);
		color: var(--color-active-1);
		transition:
			background 0.3s,
			color 0.3s;
	}
	.ap-tabs details[open] summary::after {
		content: "▼";
	}
	.ap-tabs button {
		display: block;
		width: 100%;
		border-radius: 3px;
		text-align: left;
	}
	.ap-content {
		flex: 1 1 100%;
		overflow: auto;
		padding: 20px;
	}

	.ap-modals {
		display: flex;
		position: absolute;
		inset: 0;
		background: #0007;
		align-items: safe center;
		justify-content: safe center;
		gap: 10px;
		padding: 10px;
		overflow-x: scroll;
	}

	.ap-modals:empty {
		display: none;
	}

	.ap-modal {
		height: calc(100% - 44px);
		flex: 300px 0 0;
		padding: 22px;
		background: var(--background-2);
		border-radius: 5px;
		position: relative;
		overflow-y: auto;
	}
	.ap-modal .close-button {
		position: absolute;
		inset: 10px 10px auto auto;
		width: 32px;
		height: 32px;
		border-radius: 50%;
	}
	.ap-modals .modals-action-button {
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.ap-modal :global(h4) {
		margin: 0px 0px 20px 0px;
	}

	.ap-modal :global(h6) {
		font-family: var(--header-font);
		font-size: 12px;
		font-weight: normal;
		margin-block: 0;
		color: var(--color-4);
	}
	.ap-modal :global(pre) {
		overflow-x: scroll;
		margin-inline: -22px;
		padding: 22px;
		background: var(--background-1);
	}

	:global(.bool-true) {
		color: var(--color-green-1);
	}

	:global(.bool-false) {
		color: var(--color-red-1);
	}

	.ap-modal.is-historical {
		background: var(--background-red-0);
	}

	:global(.tnum) {
		font-variant-numeric: tabular-nums;
		font-weight: 400;
	}

	#modals-actions {
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	#hidden-modals-fab {
		position: absolute;
		bottom: 16px;
		right: 16px;
		padding: 8px 16px;
		border-radius: 32px;
		height: auto;
	}

	#collapse-sidebar {
		position: absolute;
		bottom: 10px;
		width: 200px;
	}

	#collapsed-sidebar-fab {
		position: absolute;
		bottom: 16px;
		left: 16px;
		padding: 8px 16px;
		border-radius: 32px;
		height: auto;
	}
</style>
