<script lang="ts">
	import type {
		ICategoryModerator,
		IForumCategory,
		IGame,
		TabList,
	} from "~/types";
	import Analytics from "./GameEditor/Analytics.svelte";
	import Chat from "./GameEditor/Chat.svelte";
	import ForumLink from "./GameEditor/ForumLink.svelte";
	import MainInfo from "./GameEditor/MainInfo.svelte";
	import Statistics from "./GameEditor/Statistics.svelte";
	import TabbedMenu from "./TabbedMenu.svelte";
	import Tags from "./GameEditor/Tags.svelte";
	import UnverifiedChat from "./UnverifiedChat.svelte";
	import Updates from "./GameEditor/Updates.svelte";

	export let game: IGame;
	export let linkedCategory: IForumCategory[];
	export let moddedCategories: ICategoryModerator[];
	export let categoryData: { [id: number]: IForumCategory };
	export let tagCategories: { [category: string]: string[] };
	export let tagData: { [tag: string]: string };

	// Convince svelte it's a boolean
	const verified = game.verified as boolean;
	const { id } = game;

	const tabs: TabList = [
		["back to game", "ic:round-arrow-back", "", `/play/${id}`],
		["back to dashboard", "ic:round-arrow-back", "", `/manage`],
		["edit game", "", "n/a", false],
		["main info", "ic:round-plus-one", ""],
		...((+game.verified || game.playMinutes > 0
			? [
					["updates", "ic:round-update", "updates"],
					// ["team", "ic:baseline-group"],
					["social", "ic:round-chat", "social"],
					["analytics", "", "n/a", false],
					["statistics", "material-symbols:numbers-rounded", "stats"],
					["graphs", "ic:baseline-bar-chart", "graphs"],
					// ["real-time", "mdi:stopwatch", "realtime"],
				]
			: [
					["unverified", "", "n/a", false],
					["staff chat", "ic:round-chat", "staffchat"],
				]) as TabList),
	];

	let activeTab = "main info";
	const formTabs = ["main info", "updates", "social"];

	let visitedGraphs = false;
	function changedTab({ detail }) {
		if (detail === "graphs") visitedGraphs = true;
	}
</script>

<TabbedMenu
	title={"editing " + game.name}
	{tabs}
	form={formTabs.includes(activeTab)}
	on:tabchange={changedTab}
	bind:activeTab
>
	{#if activeTab === "main info"}
		<MainInfo
			{id}
			name={game.name}
			link={game.link}
			{verified}
			description={game.description}
			thumbTimestamp={game.thumbTimestamp}
		/>
		<hr />
		<Tags {id} tags={game.tags} categories={tagCategories} {tagData} />
		<hr />
		<h2>delete game</h2>
		<p>
			To delete this game, delete the name and link entries, then select
			the "delete game" option that appears.<br />
			There are no confirmation prompts after that step, so be careful for
			what you're doing!
		</p>
	{:else if activeTab === "updates"}
		<Updates {id} />
	{:else if activeTab === "social"}
		<Chat {id} chatEnabled={game.chatEnabled} />
		<hr />
		<ForumLink
			{linkedCategory}
			{moddedCategories}
			{categoryData}
			gameId={id}
		/>
	{:else if activeTab === "team"}
		<div>
			<p>team management coming soon</p>
		</div>
	{:else if activeTab === "staff chat"}
		<UnverifiedChat {id} mode="dev" />
	{/if}

	{#if visitedGraphs}
		<div style="display: {activeTab === 'graphs' ? 'block' : 'none'}">
			<Analytics game={id} />
		</div>
	{/if}

	<div style="display: {activeTab === 'statistics' ? 'block' : 'none'}">
		<Statistics game={id} />
	</div>
</TabbedMenu>
