<script lang="ts">
	import type { SearchType, SortOrder } from "~/helper/searchShared";
	import {
		defaultSearchType,
		defaultSortOrder,
		queryFromSearchParams,
		queryToSearchParams,
		searchTypes,
	} from "~/helper/searchShared";
	import TagSelectWidget from "./TagSelectWidget.svelte";
	import { onMount } from "svelte";

	export let tagList: Record<string, string>;
	export let tagCategories: Record<string, string[]>;

	const searchParams = new URLSearchParams(window.location.search);
	const queryRaw = queryFromSearchParams(searchParams);
	const query = {
		q: queryRaw.q ?? "",
		type: queryRaw.type ?? defaultSearchType,
		sort: queryRaw.sort ?? defaultSortOrder,
		tags: queryRaw.tags ?? [],
		xtags: queryRaw.xtags ?? [],
		global: queryRaw.global ?? false,
	};

	let tabMode = "";
	let tagWidget: TagSelectWidget;

	function setTab(target: string) {
		tabMode = tabMode == target ? "" : target;
	}

	const typeToName: { [key in SearchType]: string } = {
		relevant: "relevant",
		rating: "rating",
		favorite: "favorite count",
		playtime: "playtime",
		updated: "update time",
		creation: "creation age",
		alphabet: "alphabetical",
	};

	const sortNames: [SortOrder, string][] = [
		[1, "ascending ↑"],
		[-1, "descending ↓"],
	];

	function checkEnter(e: KeyboardEvent) {
		if (e.key === "Enter") window.location.href = searchURL;
	}

	// Fucked shit with svelte reactivity
	// See TagSelectWidget.svelte I guess
	function recomputeSearchURL() {
		query.tags = tagWidget?.getTags()[0];
		query.xtags = tagWidget?.getTags()[1];
	}

	$: searchURL = `/search?${queryToSearchParams(query)}`;
</script>

<div class="container">
	<div class="row">
		<input
			bind:value={query.q}
			on:keypress={checkEnter}
			type="search"
			placeholder="search games..."
		/>
		<a href={searchURL} class="button">search</a>
	</div>
	<div class="row">
		<button on:click={() => setTab("sort")}
			>sort by: {typeToName[query.type]}
			{query.sort == 1 ? "↑" : "↓"}</button
		>
		<button on:click={() => setTab("tags")}>
			tags: {[...query.tags, ...query.xtags.map(tag => "-" + tag)].join(
				", "
			) || "[none]"}
		</button>
	</div>
	<div class="item-list compact">
		{#if tabMode == "sort"}
			<span>sort by:</span>
			{#each searchTypes as type}
				<button
					disabled={query.type == type}
					on:click={() => (query.type = type)}
				>
					{typeToName[type]}
				</button>
			{/each}
			<hr />
			<span>order:</span>
			{#each sortNames as [sort, name]}
				<button
					disabled={query.sort == sort || query.type == "relevant"}
					on:click={() => (query.sort = sort)}
				>
					{name}
				</button>
			{/each}
		{/if}
	</div>
	<div class="form" style="display: {tabMode == 'tags' ? 'block' : 'none'}">
		<TagSelectWidget
			descriptor="Your desired game"
			modes={[
				["required tags", "green"],
				["excluded tags", "red"],
			]}
			initialSelectedTags={[query.tags, query.xtags]}
			categories={tagCategories}
			tagData={tagList}
			bind:this={tagWidget}
			onChange={recomputeSearchURL}
		/>
		<div data-label="global filters:">
			<input type="checkbox" bind:checked={query.global} />
			<a href="/settings#filters" target="_blank">(what?)</a>
		</div>
	</div>
</div>

<style>
	button:not(.tag):disabled,
	button:not(.tag):disabled:hover {
		color: var(--color-active-0);
		background: var(--background-active-0);
		text-decoration: none;
		box-shadow: inset 1px 0 5px #0007;
		cursor: default;
	}

	.container {
		padding: 20px;
	}

	.row {
		display: flex;
		flex-direction: row;
		gap: 2px;
	}

	.row + .row {
		margin-top: 2px;
	}

	.row input {
		flex-grow: 1;
	}
	.row button,
	.row a.button {
		margin: 0;
	}

	.item-list {
		margin-top: 5px;
	}

	.form > div::before {
		width: min(100px, calc(30% - 12px));
	}
</style>
