<script lang="ts">
	import { alert, json, post } from "~/libgalaxy";
	import { comment } from "~/helper/markdown";
	import { formatDate } from "~/helper/format";

	export let id: number;
	export let mode: "dev" | "staff";

	let chat = [];
	let chatState: "loading" | "exists" | "doesntExist" = "loading";
	let newMessage = "";

	async function sendMessage() {
		await post(`/api/games/unverifiedChat`, {
			game: id,
			content: newMessage,
		});
		newMessage = "";

		loadChat();
	}

	async function loadChat() {
		const { data, hasChat, message } = await json(
			`/api/games/unverifiedChat?id=${id}`
		);
		if (hasChat === undefined)
			return alert.error(`Something really bad happened. ${message}`);
		chat = data;
		chatState = hasChat === true ? "exists" : "doesntExist";
	}

	const displayNames = {
		dev: {
			user: "you",
			staff: "galaxy",
		},
		staff: {
			user: "user",
			staff: "staff",
		},
	};

	loadChat();
</script>

<div>
	{#if mode === "dev"}
		<h2>staff chat</h2>
	{/if}
	{#if chatState === "loading"}
		<p>loading...</p>
	{:else if chatState === "doesntExist"}
		<p>
			for one reason or another, we were unable to load the staff chat.
			this may be because your game was submitted before this feature was
			implemented.
		</p>
	{:else if chatState === "exists"}
		{#if mode === "dev"}
			<p>
				This is a window for galaxy staff to talk with you about your
				unverified game.
				<br />
				We may use this to ask you questions about your game, report issues,
				or give you support. You may also ask us questions here.<br />
				This doesn't update in real-time. You'll receive a private message
				notifying you if we've sent you a new message here.
			</p>
		{/if}

		{#each chat as message}
			<div class="comment-content">
				<div>
					<b>{displayNames[mode][message.from]}</b> &bull;
					<span class="unimportant">
						{formatDate(new Date(message.when))}
					</span>
				</div>
				{@html comment.render(message.content)}
			</div>
		{:else}
			<p class="unimportant"><i>no messages yet</i></p>
		{/each}

		<textarea
			bind:value={newMessage}
			placeholder="have something to say?"
		/>
		<button on:click={sendMessage}>send</button>
	{/if}
</div>

<style>
	textarea {
		width: calc(100% - 15px);
		height: 100px;
		background: var(--background-1);
	}

	button {
		width: 100%;
	}

	.comment-content > :global(p:first-of-type) {
		margin-top: 0;
	}

	.comment-content > :global(p:last-of-type) {
		margin-bottom: 10px;
	}
</style>
